* {
    margin: 0;
    padding: 0;
font-family: "Montserrat"}
.game_start{
    font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
display: flex;
align-items: center;
color: #FFFFFF;
}
.game_head{
    background-image: url(img/Rectangle\ 1.jpg);
}